<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    <form>
      <textarea id="textarea"></textarea>
      <input id="submit" type="submit" value="Publish" />
    </form>
  </body>
  <script src="/public/bundle.js"></script>
</html>
