<!DOCTYPE html>
<html>
  {{> head this }}
  <body>
    <div class="mazimd-toolbar-background">
      <div class="flex-center">
        <div class="mazimd-toolbar container">
          <a href="#" class="mazimd-preview-button">预览</a>
        </div>
      </div>
    </div>
    <div class="flex-center">
      <div id="mazimd-container" class="container mazimd-container">
        <textarea id="mazimd-textarea"></textarea>
      </div>
    </div>
  </body>
  <script src="/public/js/pages/new.js"></script>
</html>
