<!DOCTYPE html>
<html>
  <head>
    <title>{{name}} - 主题 - 码字 md</title>
    <link rel="stylesheet" href="{{ cdn_origin }}/vendor/mobi.css-2.0.0-beta.1/dist/mobi.min.css"/>
    <link rel="stylesheet" href="{{ cdn_origin }}/css/themes/index.css"/>
    <style>
      {{css}}
    </style>
  </head>
  <body>
    <div class="flex-center">
      <div class="container">
        <article class="mazimd-article">
          <h1>主题测试</h1>
          <p>码字 md 是一个 markdown 编辑器</p>
        </article>
      </div>
    </div>
  </body>
</html>
