.CodeMirror {
  height: auto;
  min-height: $mde-min-height;
  border: 1px solid $color-border;
  border-bottom-left-radius: $border-radius-input;
  border-bottom-right-radius: $border-radius-input;
  padding: $width-gap;
  z-index: $mde-z-index;
}

.CodeMirror-scroll {
  min-height: $mde-min-height;
  margin-bottom: -$mde-scroll-margin;
  margin-right: -$mde-scroll-margin;
  padding-bottom: $mde-scroll-margin;
}

.CodeMirror-fullscreen {
  background: $color-background;
  position: fixed !important;
  top: $mde-height-toolbar-fullscreen;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: $mde-z-index-fullscreen;
  border: 0;
  border-top: 1px solid $color-border;
}

.CodeMirror-sided {
  width: 50% !important;
}

.CodeMirror pre {
  padding: 0 $width-gap-half;
}
