// Default min height
$mde-min-height: 300px;
// Icon size
$mde-width-toolbar-icon: 30px;
// Hidden scrollbar
$mde-scroll-margin: 32px;
// The height of toolbar in fullscreen mode
$mde-height-toolbar-fullscreen: $mde-width-toolbar-icon + $width-gap-double;
// The `top` of 1, 2, 3 relative to H icon
$mde-relative-top-header-x: 2px;
// Line height of headers
$mde-line-height-header: 2;
// The padding of code
$mde-padding-code: 6px 0 3px;
// z-index
$mde-z-index: 1;
$mde-z-index-fullscreen: 1000;

// This is hard coded in node_modules/simplemde/src/js/simplemde.js
// Be careful if you want to change it 
$mde-breakpoint-mobile: 700px;
