$max-width-container: 1024px;

$font-size: 18px;

$font-size-h1: 32px;
$font-size-h2: 26px;
$font-size-h3: 24px;
$font-size-h4: 22px;
$font-size-h5: 20px;
$font-size-h6: 18px;

$font-size-pre: 13px;

$font-size-small: $font-size * .85;
