.mazimd-textarea-container {
  margin-top: 58px;
}

.mazimd-preview .CodeMirror-scroll {
  display: none;
}

.CodeMirror {
  border: 0;
  padding: 0;
}

.editor-toolbar {
  background: #fff;
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

.mazimd-preview {
  display: none;
}

.mazimd-preview-mode .mazimd-preview {
  display: block;
}

.mazimd-preview-mode .mazimd-editor {
  display: none;
}
